<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lottie To MP4</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->

</head>

<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-b-160 p-t-50">
        <form action="/upload" enctype="multipart/form-data" method="post" class="login100-form validate-form">
          
          <input type="file" name="file" style="color:white">
          <div style="display: flex; margin-right: 20;">
            <input type="radio" id="male" name="type" value="mp4" style="margin:auto" />
            <label for="mp4" style="color:white; margin:auto">&nbsp;MP4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          </div>
          <!-- <div style="display: flex; margin-left: 20;">
            <input type="radio" id="female" name="type" value="gif" style="margin:auto" />
            &nbsp;
            <label for="gif" style="color:white; margin:auto">GIF</label>
          </div> -->
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Convert
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>